<label class="flex items-center space-x-2">
  <div class="relative">
    <input
      type="checkbox"
      class="sr-only peer"
      id="<%= value %>"
      name="<%= name %>"
      value="<%= __(value) %>"
    />
    <div
      class="w-6 h-6 bg-gray-200 rounded-md peer-checked:bg-gray-500 transition-all duration-300"
    ></div>
    <svg
      class="absolute w-4 h-4 text-white left-1 top-1 opacity-0 peer-checked:opacity-100 transition-opacity duration-300"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="3"
        d="M5 13l4 4L19 7"
      ></path>
    </svg>
  </div>
  <span class="text-gray-500"><%= __(labelText) %></span>
</label>
