<%- include("layout/header.ejs") %>
<body>
  <main class="container mx-auto px-4 mb-8">
    <h1 class="text-4xl font-bold text-blue-600">
      ¡Hi, Express with EJS & Tailwind!
    </h1>
  </main>
</body>
<%- include("layout/footer.ejs") %>
